.blog{

    border : 1px solid blue;
    margin : 5px;
    padding : 5px 20px 20px;
    height: 100%;
    box-sizing: border-box;
    z-index: +1;
    
}

.blog:hover{
   
    box-shadow: 1px 1px 15px gray;
    z-index: 5000  !important;
}

.blogDetail{
    margin: 1% 10% 0% 10%;
    width: 80%;
    box-sizing: border-box;
    padding : 5px;
}

